<nav class="navbar">
  <div class="container">
    <a href="/" class="navbar-brand">Tu tienda de productos 😉</a>
    <ul class="navbar-nav">
      <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
      <li class="nav-item"><a href="/realtimeproducts" class="nav-link">Productos en Tiempo Real</a></li>
    </ul>
  </div>
</nav>